@using Diary.Models;
@using Diary.Models.Enums;
@model LessonModel;
@{
    ViewData["Title"] = "Страница Урока";
    var scoreMapper = new Dictionary<ScoreResult, string>
{
        {ScoreResult.None, "Н" },
        {ScoreResult.Two, ((int)ScoreResult.Two).ToString() },
        {ScoreResult.Three, ((int)ScoreResult.Three).ToString() },
        {ScoreResult.Four, ((int)ScoreResult.Four).ToString() },
        {ScoreResult.Five, ((int)ScoreResult.Five).ToString() }
    };

    var hasPermission = User.IsInRole("Admin") || User.IsInRole("Teacher");

    string GetSpecialTaskName(SpecialTaskType type)
    {
        switch (type)
        {
            case SpecialTaskType.Exam:
                return "Экзамен";
            case SpecialTaskType.HomeWork:
                return "Домашная работа";
            case SpecialTaskType.Lab:
                return "Лабораторная работа";
            case SpecialTaskType.Test:
                return "Контрольная работа";
            default:
                return string.Empty;
        }
    }
}
@Html.HiddenFor(x => x.ScheduleInfo.Id)

<style>
    .hidden {
        display: none;
    }

    .content-header {
        margin: 5px 0;
        height: 70px;
        padding: 10px 0;
        text-align: center;
    }

    .content-header-title {
        font-size: 20px;
    }

    .content-header-subtitle {
        font-size: 15px;
    }

    .content-header,
    .menu-item,
    .content-item {
        width: 100%;
        border: 1px solid gray;
        border-radius: 3px;
    }

    .menu-item {
        margin: 3px 0;
        height: 50px;
        padding: 10px 0;
        text-align: center;
    }

        .menu-item:hover {
            box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
            cursor: pointer;
            //background: rgb(128, 128, 128);
        }

    .menu-item-selected {
        background: rgb(237, 234, 234);
    }

    .hoverx:hover {
        cursor: pointer !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content-header">
                <div class="content-header-title">@Model.ScheduleInfo.Subject, @Model.ScheduleInfo.Date.ToString("HH.mm")</div>
                <div class="content-header-subtitle">
                    <a href="#">
                        @Model.ScheduleInfo.Teacher.Name
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="menu">
                <div class="menu-item menu-item-selected " data-num="0">
                    Активность на уроке
                </div>
                <div class="menu-item" data-num="1">
                    Материалы занятия
                </div>
                <div class="menu-item" data-num="2">
                    Задания
                </div>
                <div class="menu-item" data-num="3">
                    Добавить задание
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="content">
                <div class="content-item" data-num="0">

                    <div class="row m-1">
                        <div class="col-lg-10 text-center"><h3> Активность на уроке</h3></div>
                        <div class="col-lg-2">
                            @if (hasPermission)
                            {
                                <div class="hoverx btn btn-success" id="btn-save">
                                    Сохранить
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-lg-4">
                            ФИО
                        </div>
                        <div class="col-lg-4">
                            Оценка
                        </div>
                        <div class="col-lg-4">
                            Комментарий
                        </div>
                    </div>
                    @foreach (var student in Model.ScheduleInfo.Class.Students)
                    {

                        <div class="row m-1 student-line" data-id="@student.Id">
                            <div class="col-lg-4">
                                @student.Name
                            </div>
                            <div class="col-lg-4">
                                @{
                                    var score = Model.Scores.FirstOrDefault(x => x.StudentModel.Id == student.Id);
                                    <select class="form-control w-100 score-select" data-id="@(score != null ? score.Id : Guid.Empty)" disabled="@(!hasPermission)">
                                        <option selected="@(score == null)">Выберите</option>
                                        @foreach (var scoreMap in scoreMapper)
                                        {
                                            <option value="@scoreMap.Key"
                                                    selected="@(score!=null && scoreMap.Key == score.ScoreResult)">
                                                @scoreMap.Value
                                            </option>
                                        }
                                    </select>
                                }
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control w-100 score-comment" value="@score?.Comment" readonly="@(!hasPermission)">
                            </div>
                        </div>
                    }
                </div>
                <div class="content-item hidden" data-num="1">
                    <div>Список файлов</div>
                    <ul id="filesList">
                        @for (var i = 0; i < Model.Files.Count(); i++)
                        {
                            var id = Model.Files[i];
                            <li>
                                <a href="http://localhost:60125/File/Download?id=@(id)"
                                   target="_blank"
                                   data-id="@id"
                                   download>
                                    Скачать файл @(i + 1)
                                </a>
                            </li>
                        }
                    </ul>
                    @if (hasPermission)
                    {
                        <input type="file" id="lessonFileUpload">
                    }
                </div>
                <div class="content-item hidden" data-num="2">
                    @if (!Model.SpecialTasks.Any())
                    {
                        <div class="text-center">Список заданий пуст</div>
                    }
                    @foreach (var specialTask in Model.SpecialTasks)
                    {
                        var specialTaskName = GetSpecialTaskName(specialTask.SpecialTaskType);
                        <div>@specialTaskName</div>
                        <div>Описание : @specialTask.Description</div>

                        <div>
                            Файл : <a href="http://localhost:60125/File/Download?id=@(specialTask.FileId)"
                                      target="_blank"
                                      data-id="@specialTask.FileId"
                                      download>
                                Скачать файл
                            </a>
                        </div>
                        <div class="btn btn-danger hoverx deleteSP" data-id="@specialTask.Id">
                            Удалить
                        </div>
                        <hr />
                    }
                </div>
                <div class="content-item hidden" data-num="3">
                    <div class="row m-1">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <label for="specialTaskTypeSelect"></label>
                            <select class="form-control" id="specialTaskTypeSelect">
                                <option selected>Выберите тип задания</option>
                                <option value="0">Домашнее задание</option>
                                <option value="1">Контрольная работа</option>
                                <option value="2">Лабораторная работа</option>
                                <option value="3">Экзамен</option>
                            </select>
                        </div>
                        <div class="col-lg-3"></div>

                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <label for="specialTaskDescription">Описание</label>
                            <textarea class="form-control" id="specialTaskDescription"></textarea>
                        </div>
                        <div class="col-lg-2">
                            <div class="btn btn-success hoverx" id="addTask">
                                OK
                            </div>
                        </div>
                        <input type="file" id="specialTaskFileUpload">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#addTask').on('click', function () {
        let uploadTask = function (fileId) {

            let FileId = fileId;
            let ScheduleId = $('#ScheduleInfo_Id').val();
            let SpecialTaskType = $('#specialTaskTypeSelect').val();
            let Description = $('#specialTaskDescription').val();
            let specialTask = { FileId, ScheduleId, Description, SpecialTaskType };

            $.ajax({

                url: "/Schedule/UploadSpecialTask",
                data: { specialTask: specialTask },

                type: "POST",
                dataType: "json",
                success: function (data) {
                    debugger;
                    alert("Успешно!");
                    location.reload();
                },
                statusCode: {
                    200: function () {
                        alert("Успешно!");
                        location.reload();
                    }
                }

            })
        }

        if ($('#specialTaskFileUpload').prop('files').length > 0) {
            let file = $('#specialTaskFileUpload').prop('files')[0];
            let formData = new FormData();
            formData.append('file', file)
            $.ajax({
                url: "/File/Upload",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    uploadTask(data);
                }
            })
        }
        else uploadTask();
    });
    function hideAll() {
        $('.content-item').each((index, el) => $(el).hide());
    }
    function unselectAll() {
        $('.menu-item').each((index, el) => $(el).removeClass('menu-item-selected'));
    }
    $('.menu-item').on('click', function () {
        hideAll();
        unselectAll();
        let el = $(this);
        let target = $('.content-item').filter((index, elem) => $(elem).data('num') == el.data('num'))[0];
        $(target).show();
        el.addClass('menu-item-selected');
    });
    $('#lessonFileUpload').on('change', function (event) {
        let file = $(this).prop('files')[0];
        let formData = new FormData();
        formData.append('file', file)
        $.ajax(
            {
                url: "/File/Upload",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    let fileId = data;
                    let scheduleId = $('#ScheduleInfo_Id').val();

                    $.get(`/schedule/bind/${scheduleId}/${fileId}`, function () {
                        $('#files').removeClass("hidden");
                        $('#files').addClass("visible");
                        let li = '<a href="http://localhost:60125/File/Download?id=' + fileId + '"'
                            + ' target="_blank" '
                            + ` data-id="${data}"`
                            + 'download>'
                            + 'Новый файл</a>';
                        $('#filesList').append(li);

                        alert("Файл Успешно Загружен!");
                        location.reload();
                    })
                }
            }
        );
    });
    $('#btn-save').on('click', function () {
        var data = [];
        var SchedId = $('#ScheduleInfo_Id').val();

        var lines = $('.student-line');
        for (var i = 0; i < lines.length; i++) {
            var line = $(lines[i]);
            var scoreSelect = $(line.find('.score-select')[0]);
            var StudentId = line.data('id');
            var ScoreType = scoreSelect.val();
            var ScoreId = scoreSelect.data('id');
            var ScoreComment = $(line.find('.score-comment')[0]).val();
            data.push({
                SchedId, ScoreComment, ScoreId, StudentId, ScoreType
            });
        }


        $.ajax({
            type: "POST",
            url: "/schedule/UpdateScores",
            data: { scores: data },
            success: function (response) {
                if (!response.item1)
                    alert(response.item2)
                else
                    alert(response.item2)
            },
            dataType: "json"
        });
    });

    $('.deleteSP').on('click', function () {
        if (!confirm("Удалить?")) return;
        let id = $(this).data('id');
        $.ajax({
            type: "DELETE",
            url: "/schedule/deleteSpecialTask",
            dataType: "json",
            statusCode: {
                200: function () {
                    alert("Успешно!");
                    location.reload();
                }
            },
            data: { id: id }
        })
    })
</script>