@using Diary.Models;
@using Diary.Models.Enums;
@model LessonModel;
@{
    ViewData["Title"] = "Страница Урока";
    var scoreMapper = new Dictionary<ScoreResult, string>
{
        {ScoreResult.None, "Н" },
        {ScoreResult.Two, ((int)ScoreResult.Two).ToString() },
        {ScoreResult.Three, ((int)ScoreResult.Three).ToString() },
        {ScoreResult.Four, ((int)ScoreResult.Four).ToString() },
        {ScoreResult.Five, ((int)ScoreResult.Five).ToString() }
    };

    var hasPermission = User.IsInRole("Admin") || User.IsInRole("Teacher");
    var isStudent = User.IsInRole("Student");
    var isTeacher = User.IsInRole("Teacher");

    string GetSpecialTaskName(SpecialTaskType type)
    {
        switch (type)
        {
            case SpecialTaskType.Exam:
                return "Экзамен";
            case SpecialTaskType.HomeWork:
                return "Домашная работа";
            case SpecialTaskType.Lab:
                return "Лабораторная работа";
            case SpecialTaskType.Test:
                return "Контрольная работа";
            default:
                return string.Empty;
        }
    }
}
@Html.HiddenFor(x => x.ScheduleInfo.Id)

<style>
    .hidden {
        display: none;
    }

    .content-header {
        margin: 5px 0;
        height: 70px;
        padding: 10px 0;
        text-align: center;
    }

    .content-header-title {
        font-size: 20px;
    }

    .content-header-subtitle {
        font-size: 15px;
    }

    .content-header,
    .menu-item,
    .content-item {
        width: 100%;
        border: 1px solid gray;
        border-radius: 3px;
    }

    .menu-item {
        margin: 3px 0;
        height: 50px;
        padding: 10px 0;
        text-align: center;
    }

        .menu-item:hover {
            box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
            cursor: pointer;
        }

    .menu-item-selected {
        background: rgb(237, 234, 234);
    }

    .hoverx:hover {
        cursor: pointer !important;
    }

    .specialTaskUpdateBlock {
        margin: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px;
    }

    .specialTaskAnswer {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        background-color: rgb(171, 255, 176);
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content-header">
                <div class="content-header-title">@Model.ScheduleInfo.Subject, @Model.ScheduleInfo.Date.ToString("HH.mm")</div>
                <div class="content-header-subtitle">
                    <a href="#">
                        @Model.ScheduleInfo.Teacher.Name
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="menu">
                <div class="menu-item menu-item-selected " data-num="0">
                    Активность на уроке
                </div>
                <div class="menu-item" data-num="1">
                    Материалы занятия
                </div>
                <div class="menu-item" data-num="2">
                    Задания
                </div>

                @if (hasPermission)
                {
                    <div class="menu-item" data-num="4">
                        Добавить задание
                    </div>
                }
            </div>
        </div>
        <div class="col-10">
            <div class="content">
                <div class="content-item" data-num="0">
                    <div class="row m-1">
                        <div class="col-10 text-center"><h3> Активность на уроке</h3></div>
                        <div class="col-2">
                            @if (hasPermission)
                            {
                                <div class="hoverx btn btn-success" id="btn-save">
                                    Сохранить
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4">
                            ФИО
                        </div>
                        <div class="col-4">
                            Оценка
                        </div>
                        <div class="col-4">
                            Комментарий
                        </div>
                    </div>
                    @foreach (var student in Model.ScheduleInfo.Class.Students)
                    {
                        <div class="row m-1 student-line" data-id="@student.Id">
                            <div class="col-lg-4">
                                @student.Name
                            </div>
                            <div class="col-lg-4">
                                @{
                                    var score = Model.Scores.FirstOrDefault(x => x.StudentModel.Id == student.Id);
                                    <select class="form-control w-100 score-select" data-id="@(score != null ? score.Id : Guid.Empty)" disabled="@(!hasPermission)">
                                        <option selected="@(score == null)">Выберите</option>
                                        @foreach (var scoreMap in scoreMapper)
                                        {
                                            <option value="@scoreMap.Key"
                                                    selected="@(score!=null && scoreMap.Key == score.ScoreResult)">
                                                @scoreMap.Value
                                            </option>
                                        }
                                    </select>
                                }
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control w-100 score-comment" value="@score?.Comment" readonly="@(!hasPermission)">
                            </div>
                        </div>
                    }
                </div>
                <div class="content-item hidden" data-num="1">
                    <div>Список файлов</div>
                    <ul id="filesList">
                        @for (var i = 0; i < Model.Files.Count(); i++)
                        {
                            var id = Model.Files[i];
                            <li>
                                <a href="http://localhost:60125/File/Download?id=@(id)"
                                   target="_blank"
                                   data-id="@id"
                                   download>
                                    Скачать файл @(i + 1)
                                </a>
                            </li>
                        }
                    </ul>
                    @if (hasPermission)
                    {
                        <input type="file" id="lessonFileUpload">
                    }
                </div>
                <div class="content-item hidden" data-num="2">
                    @if (!Model.SpecialTasks.Any())
                    {
                        <div class="text-center">Список заданий пуст</div>
                    }
                    @foreach (var specialTask in Model.SpecialTasks)
                    {
                        var specialTaskName = GetSpecialTaskName(specialTask.SpecialTaskType);
                        var answers = Model.SpecialTaskAnswers.Where(x => x.SpecialTaskId == specialTask.Id).ToList();
                        <div class="specialTaskUpdateBlock row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <label>Вид работы</label>
                                <select class="form-control specialTaskTypeUpdate" disabled="@(!hasPermission)">
                                    <option value="0" selected=@((int)specialTask.SpecialTaskType == 0)>Домашнее задание</option>
                                    <option value="1" selected=@((int)specialTask.SpecialTaskType == 1)>Контрольная работа</option>
                                    <option value="2" selected=@((int)specialTask.SpecialTaskType == 2)>Лабораторная работа</option>
                                    <option value="3" selected=@((int)specialTask.SpecialTaskType == 3)>Экзамен</option>
                                </select>
                            </div>
                            <div class="col-2"></div>

                            <div class="col-2"></div>
                            <div class="col-8">
                                <div>Описание</div>
                                <textarea class="form-control specialTaskTypeDescr" disabled="@(!hasPermission)">@specialTask.Description</textarea>
                            </div>
                            <div class="col-2"></div>

                            @if (specialTask.FileId != Guid.Empty)
                            {
                                <div class="col-4"></div>
                                <div class="col-4">
                                    Файл : <a class="specialTaskFileData"
                                              href="/File/Download?id=@(specialTask.FileId)"
                                              target="_blank"
                                              data-id="@specialTask.FileId"
                                              download>
                                        Скачать файл
                                    </a>
                                </div>
                                <div class="col-4"></div>

                            }

                            @if (hasPermission)
                            {
                                <div class="col-4"></div>
                                @if (specialTask.FileId == Guid.Empty)
                                {
                                    <div class=" col-4" style="padding:3px">
                                        <button class="btn btn-success w-100" onclick="$(this).next().click()">
                                            Добавить файл
                                        </button>
                                        <input type="file" class="updateSpFile" data-id="@specialTask.Id" hidden>
                                    </div>
                                }
                                else
                                {
                                    <div class=" col-2" style="padding:3px">
                                        <button class="w-100  btn btn-warning deleteSpFile" data-id="@specialTask.Id">
                                            Удалить файл
                                        </button>
                                    </div>
                                    <div class=" col-2" style="padding:3px">
                                        <button class="w-100  btn btn-success" onclick="$(this).next().click()">
                                            Заменить файл
                                        </button>
                                        <input type="file" class="updateSpFile" data-id="@specialTask.Id" hidden>
                                    </div>
                                }

                                <div class="col-4"></div>
                            }
                            @if (hasPermission)
                            {
                                <div class="col-4"></div>
                                <div class=" col-2" style="padding:3px">
                                    <div class="w-100 btn btn-danger hoverx deleteSP" data-id="@specialTask.Id">
                                        Удалить
                                    </div>
                                </div>
                                <div class=" col-2" style="padding:3px">
                                    <div class="w-100 btn btn-primary hoverx updateSP" data-id="@specialTask.Id">
                                        Обновить
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            }

                            @if (answers.Any())
                            {
                                <div class="col-12" style="border-top: 1px solid lightgray"></div>
                                <div class="text-center col-12">
                                    <h3>
                                        Ответы
                                        <span id="toggleAnswers" class="hoverx" style="text-decoration:underline">(открыть)</span>
                                    </h3>
                                </div>

                                <div class="col-12">
                                    <div class="row specialTaskAnswer" style="display:none">
                                        @foreach (var answer in answers)
                                        {
                                            <div class="col-2"></div>
                                            <div class="col-8">
                                                <h4>Выполнил : @answer.Student.Name</h4>
                                            </div>
                                            <div class="col-2"></div>

                                            <div class="col-2"></div>
                                            <div class="col-8">
                                                <label>Коментарии учащегося по работе</label>
                                                <textarea class="form-control spaDescription" disabled="@(isTeacher)">@answer.Description</textarea>
                                            </div>
                                            <div class="col-2"></div>

                                            @if (Guid.Empty != answer.FileId)
                                            {

                                                <div class="col-2"></div>
                                                <div class="col-8">
                                                    <label>Файл ответа : </label>
                                                    <a href="/File/Download?id=@(answer.FileId)"
                                                       target="_blank"
                                                       download>
                                                        Скачать файл
                                                    </a>
                                                </div>
                                                <div class="col-2"></div>
                                            }

                                            <div class="col-12" style="border-top: 1px solid black"></div>

                                            <div class="col-2"></div>
                                            <div class="col-8">
                                                <label>Оценка</label>
                                                <select class="form-control spaScore" disabled="@(isStudent)">
                                                    @foreach (var scoreMap in scoreMapper)
                                                    {
                                                        <option value="@scoreMap.Key"
                                                                selected="@(scoreMap.Key == answer.ScoreResult)">
                                                            @scoreMap.Value
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-2"></div>

                                            <div class="col-2"></div>
                                            <div class="col-8">
                                                <label>Коментарии оценивающего по работе</label>
                                                <textarea class="form-control spaComment" disabled="@(isStudent)">@answer.Comment</textarea>
                                            </div>
                                            <div class="col-2"></div>

                                            @if (!isTeacher)
                                            {
                                                <div class="col-4"></div>
                                                @if (answer.FileId == Guid.Empty)
                                                {
                                                    <div class=" col-4" style="padding:3px">
                                                        <button class="btn btn-success w-100" onclick="$(this).next().click()">
                                                            Добавить файл
                                                        </button>
                                                        <input type="file" class="updateSpaFile" data-id="@answer.Id" hidden>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class=" col-2" style="padding:3px">
                                                        <button class="w-100  btn btn-warning deleteSpaFile" data-id="@answer.Id">
                                                            Удалить файл
                                                        </button>
                                                    </div>
                                                    <div class=" col-2" style="padding:3px">
                                                        <button class="w-100  btn btn-success" onclick="$(this).next().click()">
                                                            Заменить файл
                                                        </button>
                                                        <input type="file" class="updateSpaFile" data-id="@answer.Id" hidden>
                                                    </div>
                                                }

                                                <div class="col-4"></div>
                                            }
                                            @if (!isTeacher)
                                            {
                                                <div class="col-4"></div>
                                                <div class=" col-2" style="padding:3px">
                                                    <div class="w-100 btn btn-danger hoverx deleteSPA" data-id="@answer.Id">
                                                        Удалить
                                                    </div>
                                                </div>
                                                <div class=" col-2" style="padding:3px">
                                                    <div class="w-100 btn btn-primary hoverx updateSPA" data-id="@answer.Id" data-spid="@answer.SpecialTaskId">
                                                        Обновить
                                                    </div>
                                                </div>
                                                <div class="col-4"></div>
                                            }

                                            @if (isTeacher)
                                            {
                                                <div class="col-4"></div>
                                                <div class=" col-4" style="padding:3px">
                                                    <div class="w-100 btn btn-primary hoverx updateSPA" data-id="@answer.Id" data-spId="@answer.SpecialTaskId">
                                                        Обновить
                                                    </div>
                                                </div>
                                                <div class="col-4"></div>
                                            }
                                        }
                                    </div>
                                </div>
                            }

                            @if (!answers.Any() && isStudent)
                            {
                                <div class="col-12">
                                    <div class="spa row">
                                        <div class="col-2"></div>
                                        <div class="col-8">
                                            <label>Коментарии учащегося по работе</label>
                                            <textarea class="form-control spaDescription"></textarea>
                                        </div>
                                        <div class="col-2"></div>

                                        <div class="col-4"></div>
                                        <div class=" col-2" style="padding:3px">
                                            <div class="w-100 btn btn-primary hoverx" data-id="@specialTask.Id" onclick="$(this).next().click()">
                                                Добавить файл
                                            </div>
                                            <input type="file" class="spaFile" data-id="@specialTask.Id" hidden>
                                        </div>
                                        <div class=" col-2" style="padding:3px">
                                            <div class="w-100 btn btn-success hoverx uploadSpa" data-id="@specialTask.Id">
                                                Отправить
                                            </div>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

                @if (hasPermission)
                {
                    <div class="content-item hidden" data-num="4">
                        <div class="row m-1">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <label for="specialTaskTypeSelect">Вид работы</label>
                                <select class="form-control" id="specialTaskTypeSelect">
                                    <option selected>Выберите тип задания</option>
                                    <option value="0">Домашнее задание</option>
                                    <option value="1">Контрольная работа</option>
                                    <option value="2">Лабораторная работа</option>
                                    <option value="3">Экзамен</option>
                                </select>
                            </div>
                            <div class="col-2"></div>

                            <div class="col-2"></div>
                            <div class="col-8">
                                <label for="specialTaskDescription">Описание</label>
                                <textarea class="form-control" id="specialTaskDescription"></textarea>
                            </div>
                            <div class="col-2"></div>

                            <div class="col-3"></div>
                            <div class=" col-3" style="padding:3px">
                                <button class="btn btn-primary w-100 hoverx" onclick="$(this).next().click()">
                                    Добавить файл
                                </button>
                                <input type="file" id="specialTaskFileUpload" hidden>
                            </div>

                            <div class="col-3" style="padding:3px">
                                <div class="btn btn-success w-100 hoverx" id="addTask">
                                    OK
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>

                    </div>
                }


            </div>
        </div>
    </div>
</div>

<script>
    let Success = function () {
        alert("Успешно!");
        location.reload();
    }
</script>

<script>
    $('#toggleAnswers').on('click', function () {
        let text = $(this).text();
        if (text == "(открыть)") {
            $('.specialTaskAnswer').slideDown();
            $(this).text("(скрыть)")
        }
        else {
            $('.specialTaskAnswer').slideUp();
            $(this).text("(открыть)")
        }
    })

    $('#addTask').on('click', function () {
        let uploadTask = function (fileId) {

            let FileId = fileId;
            let ScheduleId = $('#ScheduleInfo_Id').val();
            let SpecialTaskType = $('#specialTaskTypeSelect').val();
            let Description = $('#specialTaskDescription').val();
            let specialTask = { FileId, ScheduleId, Description, SpecialTaskType };

            $.ajax({

                url: "/Schedule/UploadSpecialTask",
                data: { specialTask: specialTask },

                type: "POST",
                dataType: "json",
                statusCode: {
                    200: function () {
                        Success()
                    }
                }

            })
        }

        if ($('#specialTaskFileUpload').prop('files').length > 0) {
            let file = $('#specialTaskFileUpload').prop('files')[0];
            let formData = new FormData();
            formData.append('file', file)
            $.ajax({
                url: "/File/Upload",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    uploadTask(data);
                }
            })
        }
        else uploadTask();
    });
    function hideAll() {
        $('.content-item').each((index, el) => $(el).hide());
    }
    function unselectAll() {
        $('.menu-item').each((index, el) => $(el).removeClass('menu-item-selected'));
    }
    $('.menu-item').on('click', function () {
        hideAll();
        unselectAll();
        let el = $(this);
        let target = $('.content-item').filter((index, elem) => $(elem).data('num') == el.data('num'))[0];
        $(target).show();
        el.addClass('menu-item-selected');
    });
    $('#lessonFileUpload').on('change', function (event) {
        let file = $(this).prop('files')[0];
        let formData = new FormData();
        formData.append('file', file)
        $.ajax(
            {
                url: "/File/Upload",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    let fileId = data;
                    let scheduleId = $('#ScheduleInfo_Id').val();

                    $.get(`/schedule/bind/${scheduleId}/${fileId}`, function () {
                        $('#files').removeClass("hidden");
                        $('#files').addClass("visible");
                        let li = '<a href="/File/Download?id=' + fileId + '"'
                            + ' target="_blank" '
                            + ` data-id="${data}"`
                            + 'download>'
                            + 'Новый файл</a>';
                        $('#filesList').append(li);

                        Success();
                    })
                }
            }
        );
    });
    $('#btn-save').on('click', function () {
        var data = [];
        var SchedId = $('#ScheduleInfo_Id').val();

        var lines = $('.student-line');
        for (var i = 0; i < lines.length; i++) {
            var line = $(lines[i]);
            var scoreSelect = $(line.find('.score-select')[0]);
            var StudentId = line.data('id');
            var ScoreType = scoreSelect.val();
            var ScoreId = scoreSelect.data('id');
            var ScoreComment = $(line.find('.score-comment')[0]).val();
            data.push({
                SchedId, ScoreComment, ScoreId, StudentId, ScoreType
            });
        }


        $.ajax({
            type: "POST",
            url: "/schedule/UpdateScores",
            data: { scores: data },
            success: function (response) {
                if (!response.item1)
                    alert(response.item2)
                else
                    alert(response.item2)
            },
            dataType: "json"
        });
    });

    $('.deleteSP').on('click', function () {
        if (!confirm("Удалить?")) return;
        let id = $(this).data('id');
        $.ajax({
            type: "DELETE",
            url: "/schedule/deleteSpecialTask",
            dataType: "json",
            statusCode: {
                200: function () {
                    Success()
                }
            },
            data: { id: id }
        })
    })
</script>

<!--TASK UPDATE-->
<script>
    $(".updateSP").on('click', function () {
        if (!confirm("Уверены?")) return;
        let el = $(this);
        let parentEl = el.closest('.specialTaskUpdateBlock');

        let Id = el.data('id');
        let SpecialTaskType = $(parentEl.find('.specialTaskTypeUpdate')[0]).val();

        let FileId = ""
        if (parentEl.find('.specialTaskFileData').length > 0)
            FileId = $(parentEl.find('.specialTaskFileData')[0]).data('id');

        let Description = $(parentEl.find('.specialTaskTypeDescr')[0]).val();
        let ScheduleId = $('#ScheduleInfo_Id').val();

        let specialTask = { Id, ScheduleId, Description, SpecialTaskType, FileId };

        $.ajax({
            type: "POST",
            url: "/schedule/UpdateSpecialTask",
            data: { specialTask },
            dataType: "json",
            statusCode: {
                200: function () {
                    Success()
                }
            }
        });
    });

    $('.deleteSpFile').on('click', function () {
        if (!confirm("Уверены?")) return;
        let spId = $(this).data('id');

        $.ajax({
            type: "DELETE",
            url: "/schedule/DeleteSpecialTaskFile",
            data: { spId },
            dataType: "json",
            statusCode: {
                200: function () {
                    Success()
                }
            }
        })
    })

    $('.updateSpFile').on('change', function () {
        let spId = $(this).data('id');
        let file = $(this).prop('files')[0];
        let formData = new FormData();
        formData.append('file', file)
        $.ajax({
            url: "/File/Upload",
            data: formData,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                $.ajax({
                    url: "UpdateSpecialTaskFile",
                    data: { newFileId: data, spId },
                    type: "PATCH",
                    statusCode: {
                        200: function () {
                            Success()
                        }
                    }
                });
            }
        })
    })

</script>

<!-- ANSWERS-->
<script>
    $('.uploadSpa').on('click', function () {
        let parentEl = $(this).closest('.spa');
        let spaFile = $(parentEl.find('.spaFile')[0]);
        let SpecialTaskId = $(this).data('id');

        let uploadTask = function (fileId) {
            let FileId = fileId;
            let Description = $(parentEl.find('.spaDescription')[0]).val();
            let spa = { FileId, Description, SpecialTaskId };
            $.ajax({
                url: "/STA/Create",
                data: { spa },
                type: "POST",
                dataType: "json",
                statusCode: {
                    200: function () {
                        Success()
                    }
                }
            })
        }

        if (spaFile.prop('files').length > 0) {
            let file = spaFile.prop('files')[0];
            let formData = new FormData();
            formData.append('file', file)
            $.ajax({
                url: "/File/Upload",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    uploadTask(data);
                }
            })
        }
        else uploadTask();
    })

    $('.deleteSpaFile').on('click', function () {
        if (!confirm("Уверены?")) return;
        let spaId = $(this).data('id');
        $.ajax({
            url: "/STA/File",
            type: "DELETE",
            dataType: "json",
            data: { spaId },
            statusCode: {
                200: function () {
                    Success()
                }
            }
        });
    });

    $('.updateSpaFile').on('change', function () {
        let spaId = $(this).data('id');
        let file = $(this).prop('files')[0];
        let formData = new FormData();
        formData.append('file', file)
        $.ajax({
            url: "/File/Upload",
            data: formData,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                $.ajax({
                    url: "/STA/File",
                    data: { newFileId: data, spaId },
                    type: "PATCH",
                    statusCode: {
                        200: function () {
                            Success()
                        }
                    }
                });
            }
        })
    })

    $('.deleteSPA').on('click', function () {
        if (!confirm("Уверены?")) return;

        let spaId = $(this).data('id');

        $.ajax({
            url: "/STA/Answer",
            type: "DELETE",
            dataType: "json",
            data: { spaId },
            statusCode: {
                200: function () {
                    Success();
                }
            }
        })
    });

    $('.updateSPA').on('click', function () {
        let parentEl = $(this).closest('.specialTaskAnswer');
        let Id = $(this).data('id');
        let SpecialTaskId = $(this).data('spid');
        let Description = $(parentEl.find('.spaDescription')[0]).val();
        let Comment = $(parentEl.find('.spaComment')[0]).val();
        let ScoreResult = $(parentEl.find('.spaScore')[0]).val();
        let spa = { Id, SpecialTaskId, Description, Comment, ScoreResult };
        $.ajax({
            url: "/STA/Answer",
            type: "PATCH",
            dataType: "ajax",
            data: { spa },
            statusCode: {
                200: function () {
                    Success()
                }
            }
        })
    })
</script>